.container {
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 100%;
}

.title{
    text-align: center;
    margin-top: 74px;
}

.title>h1{
    color: #5837D0;
    font-size: 100px;
    font-family: 'Itim', cursive;
}

.title>h2{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.liveDemo {
    background-color: #343651;
    opacity: 90%;
    border-radius: 5px;
    opacity: 0.9;
    height: 50rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 11px;
}

.demo {
    width: 572px;
    text-align: center;
    width: 100%;
}

.demoBtn {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 32px;
}

.leftTetrominoes {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.mediumDemo {
    flex: 1;
}

.rightTetrominoes {
    flex: 1;
}