@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-bg: #282938;
  --primary-text: #fff;
  --secondary: #5837D0;
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-text);
  background: #1A1A1A;
  font-family: 'Inter', sans-serif;
  max-height: 100%;
}

.btn {
  background-color: #5837D0;
  color: #fff;
  border-radius: 30px;
  width: 84px;
  height: 31px;
  padding: 8px 28px;
  border: none;
}

.btn:hover {
  background-color: #343651;
  cursor: pointer;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* tetris styles */

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 0px;
}

.t-row {
  display: flex;
}

.t-board {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.t-cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
}

.t-cell-0 {
  background-color: black;
}

.t-cell-1 {
  background-color: #00d;
  border-bottom: 1px solid #00f;
  border-right: 1px solid #00f;
  border-top: 1px solid #00b;
  border-left: 1px solid #00b;
}

.t-cell-2 {
  background-color: green;
}

.t-cell-3 {
  background-color: red;
}

.t-score-label {
  font-weight: bold;
}

.t-score-label {
  font-weight: bold;
}

.t-parent {
  display: flex;
}

element.style {
  width: 44px;
  left: 0px;
}