.cube {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
    
}

.cubeTetro {
    transform: rotate(-60.27deg);
}

.flexRow {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

.sideTetrominoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}